/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

html{
  min-height: 100%;
}

html,body {
  height: 200vh;
}

@media (max-width: 1200px){
  html,body {
    height: 300vh;
  }
}

@media (max-width: 800px){
  html,body {
    height: 400vh;
  }
}

html{
  font-size: 14px;
}

p-panel {
  margin: 20px;
  padding: 20px;
}

:root .m-3 .card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}


.ng-select {
  border:0px !important;
  min-height: 0px !important;
  border-radius: 0 !important;
}


/*Responsividade para lista e detalhes*/

@media (max-width: 1200px){
  :root div .dash{
    display: block !important;
  }

  :root div .d-flex .w-75,:root div .d-flex .w-50{
    width: auto !important;
  }

  :root .d-flex .m-2{
    margin: 0 !important;
    margin-bottom: 10px !important;
  }

  app-dashboard .chart-responsive div{
    font-family: arial;
    font-size: 24px;
    margin: 0 auto;
    position: relative;
  }

  app-dashboard .chart div{
    margin: 0 auto;
  }

}

@media (max-width: 1200px){

  app-lista-detalhes body .p-5 .w-50{
    width: auto !important;
  }

}


/* Estilização dos botões, barras, etc*/
.btn-color{
  background-color: rgb(23, 184, 202) !important;
  border-color:rgb(23, 184, 202) !important;
}

body{
  overflow: visible !important;
}

@media (min-width: 1200px){
  .size{
    display: flex;
    justify-content: center
  }
}

.app-container{
  display: grid !important;
  min-height: 100% !important;
  grid-template-rows: auto 1fr auto !important;
}

.p-panel .p-panel-content {
  padding: 0 !important;
}

.grid {
  display: flex;
  justify-items: center;
  justify-content: center;
}
