
<app-menu></app-menu>
<body>
  <div class="html image-background mt-5">
      <div class="card">
        <p-dataView
          *ngIf="residents.length > 0"
          [value]="residents"
          [layout]="layout"
        >
          <ng-template pTemplate="header">
            <div class="flex justify-content-end mt-5">
              <!-- Botões para alternar layout -->
              <button
                  type="button"
                  pButton
                  label="Voltar"
                  (click)="voltar()"
                  class="ml-2 btn-color rounded text-black active"
                  style="position: absolute;
                  left: 0;"
                ></button>
              <button
                type="button"
                pButton
                label="List"
                icon="pi pi-bars"
                (click)="layout = 'list'"
                class="ml-2 btn-color rounded text-black active"
                [class.p-button-primary]="layout === 'list'"
              ></button>
              <button
                type="button"
                pButton
                label="Grid"
                icon="pi pi-th-large"
                class="ml-2 btn-color rounded text-black active"
                (click)="layout = 'grid'"
                [class.p-button-primary]="layout === 'grid'"
              ></button>
            </div>
          </ng-template>

          <!-- Exibição em lista -->
          <ng-template let-resident pTemplate="listItem">
            <div class="col-12">
              <div class="flex align-items-center justify-content-center p-3">
                <img
                  [src]="resident.image"
                  [alt]="resident.name"
                  class="rounded-circle w-25 h-25"
                />
              </div>
              <div class="flex align-items-center justify-content-center p-3">
                <h5>{{ resident.name }}</h5>
              </div>
            </div>
          </ng-template>

          <!-- Exibição em grade -->
          <ng-template let-resident pTemplate="gridItem">
            <div class="grid-layout">
              <!-- Cada item individual -->
              <div class="grid-item">
                <img [src]="resident.image" [alt]="resident.name" />
                <h5>{{ resident.name }}</h5>
              </div>
            </div>
          </ng-template>

        </p-dataView>
      </div>
  </div>
  <app-toast></app-toast>
  <app-footer></app-footer>
</body>


