<app-menu></app-menu>
<body>
  <div class="p-5 mt-3">
    <div class="card w-50 m-auto mt-5">
      <p-dataView #dv [value]="location.residents">
        <ng-template let-location pTemplate="listItem">
            <div class="col-12">
                <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">
                    <div class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                        <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                            <div class="text-2xl font-bold text-900">{{ location }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
      </p-dataView>
      <div class="card-footer">
        <div class="card-float-right">
          <button class="btn btn-color rounded text-black active" (click)="voltar()">Voltar</button>
        </div>
      </div>
    </div>
  </div>
</body>
<app-toast></app-toast>

<app-footer></app-footer>
