
.footer-07 .footer-heading {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  .footer-07 .footer-heading .logo {
    color: #000;
  }
  
  a{
    text-decoration: none;
  }
  
  #rodape{
    position: fixed;
    bottom: 0;
    width: 100%;
  }