
<div class="responsive">
  <div class="container background-img">
  
  </div>
  <div class="container login-background">
    <div class="row justify-content-center">
      <div>
        <div class="login-wrap p-0">
        <h2 class="text-center">Login</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div>
        <div class="login-wrap p-0">
      <h3 class="text-center">Acesse sua conta</h3>
      <form action="#" class="signin-form">
        <div class="form-group m-3 p-1">
          <input id="usuario" #user type="text" class="form-control" placeholder="Username" required>
        </div>
      <div class="form-group m-3 p-1">
        <input id="senha" #pass type="password" class="form-control" placeholder="Password" required>
    
      </div>
      <div class="form-group m-3 p-1">
        <button type="submit" class="form-control btn btn-color submit px-3" (click)="login(user.value, pass.value)">Entrar</button>
      </div>
      </form>
      </div>
      </div>
    </div>
  </div>
</div>

<app-toast 
  [mensagem]="mensagem"
  [mensagemFalha]="mensagemFalha"
>
</app-toast>


