
<div class="container login-background" >
    <div class="row justify-content-center">
      <div>
        <div class="login-wrap p-0">
        <h2 class="heading-section text-center shadow-5">Olá</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div>
        <div class="login-wrap p-0">
      <h3 class="mb-4 text-center shadow-5">Acesse sua conta</h3>
      <form action="#" class="signin-form">
        <div class="form-group">
          <input id="usuario" #user type="text" class="form-control" placeholder="Username" required>
        </div>
      <div class="form-group">
        <input id="senha" #pass type="password" class="form-control" placeholder="Password" required>

      </div>
      <div class="form-group">
        <button type="submit" class="form-control btn btn-color submit px-3" (click)="login(user.value, pass.value)">Entrar</button>
      </div>
      </form>
      </div>
      </div>
    </div>
</div>



