
<div id="body">
  <app-menu></app-menu>
  <div class="html image-background mt-5">
    <div class="body m-3">
      <p-panel header="Filter" [toggleable]="true" styleClass="mt-5">
        <div class="m-auto">
          <div class="form-group m-1 d-flex">
            <input pInput class="form-control" type="text" #name name="name" id="name">
            <button pButton label="Buscar" class="btn-color ml-5"
            [disabled]="false" (click)="buscarLocationPorNome(name.value)"></button>
          </div>
        </div>
      </p-panel>
      <p-panel header="Locations" [toggleable]="true" styleClass="mt-5">
        <p-table [columns]="cols"[value]="locations" [tableStyle]="{'min-width': '60rem'}"
        [paginator]="true"
        [rows]="20"
        [totalRecords]="totalRecords"
        [showCurrentPageReport]="true"
        [loading]="loading"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[20, 25, 50]">

          <ng-template pTemplate="header" let-columns>
            <p-button type="button" pTooltip="Página anterior" (click)="buscarPaginaAnterior(page)" icon="pi pi-angle-left" styleClass="p-button-text"></p-button>
            <p-button type="button" pTooltip="Próxima página" (click)="buscarProximaPagina(page)" icon="pi pi-angle-right" styleClass="p-button-text"></p-button>
              <tr>
                  <th *ngFor="let col of columns">
                    {{ col.header }}
                  </th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-locations>
              <tr>
                  <td style="cursor:pointer;" [routerLink]="['/location',buscarInformacoesPorId(locations.id)]" pTooltip="Ver os residentes" tooltipPosition="top">{{locations.name}}</td>
                  <td>{{locations.residents.length}}</td>
                  <td>{{locations.type}}</td>
                  <td>{{locations.dimension}}</td>
                  <td>{{locations.created}}</td>
              </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="5" class="text-center">
                <p>Nenhum dado encontrado.</p>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
              <div class="flex align-items-center justify-content-between">

              </div>
          </ng-template>
        </p-table>
      </p-panel>
    </div>
  </div>
  <app-toast></app-toast>

  <app-footer></app-footer>
</div>
