
.footer-07 p {
  color: #000 }
.footer-07 .footer-heading {
  font-size: 30px;
  color: #000;
  font-weight: 700;
  margin-bottom: 30px; }
  .footer-07 .footer-heading .logo {
    color: #000; }
.footer-07 .ftco-footer-social li a {
  background: transparent;
  border: 1px solid #a3de83; }

a{
  text-decoration: none;
}

html, body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

router-outlet {
  flex: 1;
}
