<app-menu></app-menu>
<body>
  <div class="p-5 mt-3">
    <div *ngIf="isLoading" class="mt-5 p-5 d-flex justify-content-center">
      <p-progressSpinner>
        <p class="text-center mt-2">Carregando...</p>
      </p-progressSpinner>
    </div>
      <div class="card w-50 m-auto mt-5" *ngIf="!isLoading">
        <div class="card-header">
          <h5 class="card-title">{{character.name}}</h5>
        </div>
        <div class="card-body">
          <img class="card-image" alt="Card" [src]="character.image"/>
          <div class="card-text card-float-right">
            <ul>
              <li><strong>Estado: </strong>{{character.status}}</li>
              <li><strong>Espécie: </strong>{{character.species}}</li>
              <li><strong>Tipo: </strong>{{character.type}}</li>
              <li><strong>Gênero: </strong>{{character.gender}}</li>
              <li><strong>Origem: </strong>{{character.origin.name}}</li>
              <li><strong>Localização: </strong>{{character.location.name}}</li>
              <li><strong>Episódios: </strong>{{character.episode.length}}</li>
              <li><strong>Created: </strong>{{character.created.substring(0,10)}}</li>
            </ul>
          </div>
        </div>
        <div class="card-footer">
          <div class="card-float-right">
            <button class="btn btn-color rounded text-black active" (click)="voltar()">Voltar</button>
          </div>
        </div>
      </div>
  </div>
</body>

<app-toast></app-toast>

<app-footer></app-footer>
