<app-menu></app-menu>
  <body>
    <div class="html image-background mt-5" >
      <div *ngIf="isLoading" class="mt-5 p-5 d-flex justify-content-center">
        <p-progressSpinner>
          <p class="text-center mt-2">Carregando...</p>
        </p-progressSpinner>
      </div>
      <div class="card" *ngIf="!isLoading">
        <p-galleria
        *ngIf="images.length > 0"
          #galleria
          [value]="images"
          [(activeIndex)]="activeIndex"
          [numVisible]="5"
          [showThumbnails]="showThumbnails"
          [showItemNavigators]="true"
          [showItemNavigatorsOnHover]="true"
          [circular]="true"
          [autoPlay]="true"
          [transitionInterval]="3000"
          [containerStyle]="{'width':'100%'}"
          [containerClass]="galleriaClass()">
            <ng-template pTemplate="item" let-item>
                <img [src]="item.itemImageSrc" style="width: 100%; display: block;" />
            </ng-template>
            <ng-template pTemplate="thumbnail" let-item>
                <div class="grid grid-nogutter justify-content-center">
                    <img [src]="item.thumbnailImageSrc" style="display: block;" />
                </div>
            </ng-template>
        </p-galleria>
        <div *ngIf="images?.length === 0">
          <p class="text-center m-3">Nenhum dado encontrado.</p>
        </div>
    </div>
    </div>
    <app-toast></app-toast>
    <app-footer></app-footer>
  </body>
