
<div class="mb-3">
  <p-panel header="Dashboard">
    <div class="card shadow-2">
      <div class="d-flex">
        <div class="m-3 w-75 text-center">

          <p-card header="Personagens" styleClass="bg bg-info text-white">
              <h2 class="m-0 text-center">
                {{characters.length}}
              </h2>
          </p-card>
        </div>
        <div class="m-3 w-75 text-center">
          <p-card header="Tipos de Gênero" styleClass="bg bg-success text-white">
              <h2 class="m-0 text-center">
                {{genero.length}}
              </h2>
          </p-card>
        </div>
        <div class="m-3 w-75 text-center">
          <p-card header="Tipos de Estado" styleClass="bg bg-danger text-white">
              <h2 class="m-0 text-center">
                {{estado.length}}
              </h2>
          </p-card>
        </div>
        <div class="m-3 w-75 text-center">
          <p-card header="Tipos de Espécies" styleClass="bg bg-warning">
              <h2 class="m-0 text-center">
                {{genero.length}}
              </h2>
          </p-card>
        </div>
        <div class="m-3 w-75 text-center">
          <p-card header="Tipos" styleClass="bg bg-secondary text-white">
              <h2 class="m-0 text-center">
                {{genero.length}}
              </h2>
          </p-card>
        </div>
      </div>
    </div>
    <div class="card shadow-2">
      <div class="d-flex">
        <div class="m-2 w-50">
          <p-chart type="bar" [data]="basicData" [options]="basicOptions" width="300px" height="300px"></p-chart>
        </div>
        <div class="m-2 w-50">
          <p-chart type="pie" [data]="basicDataStatus" [options]="basicOptions" width="300px" height="300px"></p-chart>
        </div>
        <div class="m-2 w-50">
          <p-chart type="doughnut" [data]="basicData" [options]="basicOptions" width="300px" height="300px"></p-chart>
        </div>
        <div class="m-2 w-50">
          <p-chart type="line" [data]="basicData" [options]="basicOptions" width="300px" height="300px"></p-chart>
        </div>
      </div>
    </div>
  </p-panel>
</div>

<div class="mb-3">
  <p-panel header="Filtro">
    <div class="d-flex">
      <div class="m-1">
        <ng-select name="ativo" [(ngModel)]="filtro.genero" [items]="generos" [multiple]="false"
            bindLabel="ativo" placeholder="Ativo" data-live-search="true">
        </ng-select>
      </div>
      <span class="m-1">
        <ng-select name="ativo" [(ngModel)]="filtro.genero" [items]="generos" [multiple]="false"
        bindLabel="ativo" placeholder="Ativo" data-live-search="true">
    </ng-select>
      </span>
      <span class="m-1">
        <ng-select name="ativo" [(ngModel)]="filtro.genero" [items]="generos" [multiple]="false"
            bindLabel="ativo" placeholder="Ativo" data-live-search="true">
        </ng-select>
      </span>
      <span class="m-1">
        <ng-select name="ativo" [(ngModel)]="filtro.genero" [items]="generos" [multiple]="false"
        bindLabel="ativo" placeholder="Ativo" data-live-search="true">
    </ng-select>
      </span>
      <div class="m-1">
        <button pButton label="Buscar" styleClass="p-button-raised"
        [disabled]="false" (click)="buscarPersonagensFiltro()"></button>
      </div>
    </div>
  </p-panel>
</div>

<div class="card">
  <p-dataView #dv [value]="characters" [rows]="5" [paginator]="true" [layout]="layout">
    <ng-template pTemplate="header">
      <div class="flex justify-content-end" >
        <p-dataViewLayoutOptions (changelayout)="layout"></p-dataViewLayoutOptions>
    </div>
  </ng-template>
    <ng-template let-characters pTemplate="listItem">
        <div class="col-12">
            <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">
                <img class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round" [src]="characters.image" [alt]="characters.name" />
                <div class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                    <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                        <div class="text-2xl font-bold text-900">{{ characters.name }}</div>
                    </div>
                    <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
                        <span class="text-2xl font-semibold"></span>
                        <button [routerLink]="['/character',buscarInformacoesPorIf(characters.id)]" pButton label="Ver dados" styleClass="p-button-raised" [disabled]="false"></button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template let-characters pTemplate="gridItem">
      <div class="col-12 sm:col-6 lg:col-12 xl:col-4 p-2">
          <div class="p-4 border-1 surface-border surface-card border-round">
              <div class="flex flex-column align-items-center gap-3 py-5">
                  <img class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round" [src]="characters.image" [alt]="characters.name" />
                  <div class="text-2xl font-bold">{{ characters.name }}</div>
              </div>
              <div class="flex align-items-center justify-content-between">
                <button [routerLink]="['/character',buscarInformacoesPorIf(characters.id)]" pButton label="Ver dados" styleClass="p-button-raised"
                [disabled]="false"></button>
              </div>
          </div>
      </div>
  </ng-template>
  </p-dataView>
</div>

