<div class="app-container">
  <app-menu> </app-menu>
  <div class="card h-25 p-3 ml-5 mr-5">
    <img class=" mx-auto d-block rounded-circle" src="https://rickandmortyapi.com/api/character/avatar/1.jpeg" alt="Rick" width="100" height="100">
    <h1>Rick Sanchez</h1>
    <p class="title">Crazy Doctor</p>
    <p>Harvard University of Madness</p>
    <div class="mb-5">
      <a href="#"><i class="fa fa-instagram m-2"></i></a>
      <a href="#"><i class="fa fa-twitter m-2"></i></a>
      <a href="#"><i class="fa fa-linkedin m-2"></i></a>
      <a href="#"><i class="fa fa-facebook m-2"></i></a>
    </div>
  </div>
  <app-footer></app-footer>
</div>