nav{
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
}

.search-posistion{
  position: absolute;
  top: .875rem;
  left: 50%;
  width: 200px;
  margin-left: -100px;
}

.form-search{
  width: auto !important;
}