<div class="toast-container position-fixed bottom-0 top-0 end-0 p-3">
  <div id="toastSuccess" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">Aviso</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body bg-success">
      Dados carregados.
    </div>
  </div>
</div>

<div class="toast-container position-fixed bottom-0 top-0 end-0 p-3">
  <div id="toastError" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">Aviso</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body bg-danger">
      Falha ao carregar os dados.
    </div>
  </div>
</div>

<div class="toast-container position-fixed bottom-0 top-0 end-0 p-3">
  <div id="loginSuccess" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">Aviso</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body bg-success">
      Logado com sucesso
    </div>
  </div>
</div>

<div class="toast-container position-fixed bottom-0 top-0 end-0 p-3">
  <div id="loginError" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">Aviso</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body bg-danger">
      Falha ao logar.
    </div>
  </div>
</div>